
	<div class="header">
		<div class="username">
			<%= @all_scripts ? 'All' : link_to(h(@username), username_path(@username)) %>
		</div>
		
		<% if @my_scripts -%>
			<div id="add_script"><%= link_to 'add', new_script_path %></div>
		<% end -%>
		
		<div class="clear"></div>
	</div>

	<div class="list">
		<hr>
		<% for script in @scripts -%>
		  <div class="script">
  			<%= script_name(script) %>
  			
  		  <% if @all_scripts -%>
  		    <%= script_time(script) %>
  		  <% end -%>
  		  
  		  <% if @my_scripts -%>
  		    <%= script_actions(script) %>
  		  <% end -%>
  		  
  		  <%= script_description(script)%>
  		</div>
			<hr>
		<% end -%>
	</div>
	
	<%= will_paginate @scripts %>
	
	<% if @scripts.empty? -%>
	  <div class="no_scripts">Go ahead, give 'er a try</div>
	<% end -%>


