<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>UbiquityBin</title>
		<%= yield :head %>
		<%= stylesheet_link_tag :all %>
 	</head>
	<body>
		<div id="header">
			<div class="logo">
				<h2><%= link_to 'UbiquityBin', '/' %></h2>
			</div>
			<div class="links">
				<% if logged_in? %>
					Logged in as 
					<%= link_to h(current_user.login), username_path(current_user.login)%> |
					<%= link_to 'account', edit_user_path(current_user) %> | 
					<%= link_to 'logout', logout_path %>
				<% else %>
					<%= link_to 'sign up', signup_path %> | <%= link_to 'login', login_path %>
				<% end %>
			</div>
			<div class="clear"></div>
		</div>
			
		<% if flash[:notice] || flash[:error] -%>
			<div id="notification" class="<%= flash[:error] ? 'error' : 'info' %>"><%=flash[:notice] || flash[:error]%></div>
		<% end -%>

		<div id="container">
		  <%= yield %>
		</div>

		<div id="footer">
		  some footer stuff
		</div>
	</body>
</html>