<html>
	<head>
		<title>UbiquityBin</title>
		<%= yield :head %>
		<%= stylesheet_link_tag :all %>
 	</head>
	<body>
		<div id="header">
			<div class="logo">
				<h2>UbiquityBin</h2>
			</div>
			<div class="links">
				<% if logged_in? %>
					Logged in as <%= link_to current_user.login, username_path(:username => current_user.login)%> | <%= link_to 'logout', logout_path %>
				<% else %>
					<%= link_to 'login', login_path %> | <%= link_to 'sign up', signup_path %>
				<% end %>
			</div>
			<div class="clear"></div>
		</div>
		<div id="container">
			<%= yield %>
		</div>
	</body>
</html>